<!DOCTYPE html>
<html ng-app="Eventities">

    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" href="style.css" />
    </head>

    <body class="container" ng-controller="MainController">
        <div ng-controller="AdminController">
            <ul>
                <li ng-repeat="(key,each) in types">{{key}}</li>
            </ul>
            <form name="newEntity" id="newEntity" ng-submit="addToConfig(newEntity)" class="panel panel-default" ng-cloak>
                <div class="panel-heading">
                    <h3 class="panel-title">New Entry</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-3">
                        <p class="help-block">
                            To add a new type of entity or event, use the form below.
                        </p>
                        <ol>
                            <li ng-class="{'text-muted':newEnt.label,'text-danger':!newEnt.label && newEnt['@type']}">Add a label by which <span class='label label-default' ng-class="{'label-warning':!newEnt.label}">{{newEnt.label||'this new entity'}}</span> will be known.<i ng-show="newEnt.label" class="fa fa-check "></i></li>
                            <li ng-class="{'text-muted':newEnt['@type']}">Identify a type for this new entity from a known context, if possible.<i ng-show="newEnt['@type']" class="fa fa-check "></i></li>
                            <li ng-class="{'text-muted':newEnt.class}">Select a class from which it will inherit fields and requirements.<i ng-show="newEnt.class" class="fa fa-check "></i></li>
                            <li ng-class="{'text-muted':newEnt.defaultFields}">Confirm the default fields or add more.<i ng-show="newEnt.defaultFields" class="fa fa-check "></i></li>
                            <li ng-class="{'text-muted':newEnt.requires}">Add any required elements.<i ng-show="newEnt.requires" class="fa fa-check "></i></li>
                        </ol>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <label>Label:</label><input class="form-control" ng-model="newEnt.label" type="text" name="label" placeholder="Short descriptive term for this entity">
                        </div>
                        <div class="form-group">
                            <label>Class:</label> <span class="label label-info">{{newEnt.class}}</span>
                            <div class="col-xs-12">
                                <button class="btn btn-default" type="button" ng-show="newEnt.class" ng-click="newEnt.class = types[newEnt.class].class">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-repeat="c in ofClass(newEnt.class)" ng-click="newEnt.class = c">{{c}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Type:</label><input class="form-control" ng-model="newEnt['@type']" type="text" name="@type" placeholder="Well-defined URI or contextual reference" >
                            <p class="help-block">Parent type is
                                <button type="button" class="btn btn-xs btn-default"
                                        ng-click="newEnt['@type'] = types[newEnt.class]['@type'] || types[types[newEnt.class].class]['@type'] || types[types[types[newEnt.class].class].class]['@type'] || ''">
                                    {{types[newEnt.class]['@type']||types[types[newEnt.class].class]['@type']||types[types[types[newEnt.class].class].class]['@type']||"tough to say"}}
                                </button>.
                            </p>
                        </div>
                        <div class="form-group">
                            <label>Default Fields:</label>
                            <button class="btn btn-default" type="button"
                                    ng-click="loadClassDefaults()"
                                    ng-show="newEnt.class">
                                Load from {{newEnt.class}}
                            </button>
                            <accordion>
                                <accordion-group heading="{{field.label}}"
                                                 ng-repeat="field in newEnt.defaultFields"
                                                 is-disabled="field.label==='@type'||field.label==='label'"
                                                 title="{{(field.label==='@type'||field.label==='label')&&'Altering this property breaks compliance'||'Click to modify'}}">
                                    <div class="form-group">
                                        <label>type</label> <input class="form-control" ng-model='field["@id"]' placeholder='context or uri to link'>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label>default value</label> <input class="form-control" ng-model="field._defaultValue" placeholder='initial setting'>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Minimum</label>
                                            <input type="number" min="0" class="form-control" ng-model="field._nMin">
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Maximum</label>
                                            <div class="input-group">
                                                <input ng-hide="field._infinite" min="0" type="number" class="form-control" ng-model="field._nMax">
                                                <input ng-show="field._infinite" class="form-control" disabled value="&infin;">
                                                <span class="input-group-btn">
                                                    <label class="btn btn-primary" ng-model="field._infinite" btn-checkbox>
                                                        {{field._infinite && "unlimited"||"&infin;"}}
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <label>Expected value types</label>
                                    <p class="help-block">
                                        <span ng-show="field._noTypeRestriction">No restrictions</span>
                                        <span class="label label-info" ng-hide="field._noTypeRestriction" ng-repeat="f in field._typeOf">{{f}}</span>
                                    </p>
                                    <label btn-checkbox ng-model="field._noTypeRestriction"
                                           class="btn-primary btn">
                                        <i class="fa fa-toggle-{{field._noTypeRestriction && 'on'||'off'}}"></i>
                                        {{"Accept anything"}}
                                    </label>
                                    <div collapse="field._noTypeRestriction">
                                        <div class="col-xs-12">
                                            <p class="help-block">Basic Types</p>
                                            <div class="btn-group btn-group-justified col-xs-12">
                                                <a class="btn btn-default" ng-click='toggleValue(field, value)'
                                                   role="button" ng-class="{active:field._typeOf.indexOf(value) > -1}"
                                                   ng-repeat='value in defaultObjectTypes'>{{value}}</a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <p class="help-block">Entity References</p>
                                            <div class="btn-group btn-group-justified col-xs-12">
                                                <a class="btn btn-default" ng-click='toggleValue(field, value)'
                                                   role="button" ng-class="{active:field._typeOf.indexOf(value) > -1}"
                                                   ng-repeat="(value,t) in types">{{value}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                                <accordion-group ng-show="newEnt.defaultFields.length">
                                    <accordion-heading>
                                        <div class="input-group" ng-class="{'has-warning':isNum(newProp.label)}">
                                            <input class="form-control" type="text" ng-model="newProp.label" placeholder="New Property">
                                            <span class="input-group-addon" type="warning" ng-show="isNum(newProp.label)">
                                                Numbers are not recommended as property labels
                                            </span>
                                        </div>
                                    </accordion-heading>
                                    <div class="form-group">
                                        <label>type</label> <input class="form-control" ng-model='newProp["@id"]' placeholder='context or uri to link'>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label>default value</label> <input class="form-control" ng-model="newProp._defaultValue" placeholder='initial setting'>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Minimum</label>
                                            <input type="number" min="0" class="form-control" ng-model="newProp._nMin">
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Maximum</label>
                                            <div class="input-group">
                                                <input ng-hide="newProp._infinite" min="0" type="number" class="form-control" ng-model="newProp._nMax">
                                                <input ng-show="newProp._infinite" class="form-control" disabled value="&infin;">
                                                <span class="input-group-btn">
                                                    <label class="btn btn-primary" ng-model="newProp._infinite" btn-checkbox>
                                                        {{newProp._infinite && "unlimited"||"&infin;"}}
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <label>Expected value types</label>
                                    <p class="help-block">
                                        <span ng-show="newProp._noTypeRestriction">No restrictions</span>
                                        <span class="label label-info" ng-hide="newProp._noTypeRestriction" ng-repeat="f in newProp._typeOf">{{f}}</span>
                                    </p>
                                    <label btn-checkbox ng-model="newProp._noTypeRestriction"
                                           class="btn-primary btn">
                                        <i class="fa fa-toggle-{{newProp._noTypeRestriction && 'on'||'off'}}"></i>
                                        {{"Accept anything"}}
                                    </label>
                                    <div collapse="newProp._noTypeRestriction">
                                        <div class="col-xs-12">
                                            <p class="help-block">Basic Types</p>
                                            <div class="btn-group btn-group-justified col-xs-12">
                                                <a class="btn btn-default" ng-click='toggleValue(field, value)'
                                                   role="button" ng-class="{active:newProp._typeOf.indexOf(value) > -1}"
                                                   ng-repeat='value in defaultObjectTypes'>{{value}}</a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <p class="help-block">Entity References</p>
                                            <div class="btn-group btn-group-justified col-xs-12">
                                                <a class="btn btn-default" ng-click='toggleValue(field, value)'
                                                   role="button" ng-class="{active:newProp._typeOf.indexOf(value) > -1}"
                                                   ng-repeat="(value,t) in types">{{value}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <button ng-click="addProp()" class="btn btn-primary">Add {{newProp.label}}</button>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" type="submit">+</button>
                </div>
            </form>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
        <script src="https://cdn.rawgit.com/gsklee/ngStorage/master/ngStorage.js"></script>
        <script src="script.js"></script>
    </body>

</html>
